<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Car </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"><input type=button value="Fuel"><input type=button value="Service"></td>
  </ng-container>

  <ng-container matColumnDef="average_month">
    <th mat-header-cell *matHeaderCellDef> Month Avg </th>
    <td mat-cell *matCellDef="let element" align="right">{{element.average_month}}</td>
  </ng-container>

  <ng-container matColumnDef="average_month_fuel">
    <th mat-header-cell *matHeaderCellDef> Fuel </th>
    <td mat-cell *matCellDef="let element" align="right">{{element.average_month_fuel}}</td>
  </ng-container>

  <ng-container matColumnDef="average_month_service">
    <th mat-header-cell *matHeaderCellDef> Srv </th>
    <td mat-cell *matCellDef="let element" align="right">{{element.average_month_service}}</td>
  </ng-container>

  <ng-container matColumnDef="average_month_other">
    <th mat-header-cell *matHeaderCellDef> Other </th>
    <td mat-cell *matCellDef="let element" align="right">{{element.average_month_other}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
